<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ssjprajwol.com">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ssjprajwol.com.Score"></activity>
        <activity android:name="ssjprajwol.com.Questions" />
        <activity android:name="ssjprajwol.com.Sets" />
        <activity android:name="ssjprajwol.com.Category" />
        <activity android:name="ssjprajwol.com.IntroScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ssjprajwol.com.MainActivity">
        </activity>
    </application>

</manifest>